* {
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS';
    box-sizing: border-box;
}

body {
    background-color: #05010a
}

#patch508 {
    max-width: 1000px;
    max-height: 10000px;
    margin: 0 auto;
    background-color: #05010a;
}

#wrapper {
    max-width: 1000px;
    max-height: 10000px;
    margin: 0 auto;
    background-color: #090414;
}

header img {
    width: 100%;
    display: block;
}

@media (max-width:800px) {
    nav a {
        width: 50%;
    }
}

@media (max-width:500px) {
    nav a {
        width: 100%;
    }
}

nav {
    background-color: #190d33;
}

    nav a {
        display: inline-block;
        width: 25%;
        padding: 15px 30px;
        color: white;
        text-decoration: none;
        text-align: center;
    }

a.menu:hover {
    font-size: 20px;
    color: white;
    background-color: #3e1d85;
}

.active {
    font-size: 20px;
    color: white;
    background-color: #090414;
}

article {
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 {
    font-size: 30px;
    text-align: center;
    margin: 0 10% 30px;
}

article p {
    text-align: center;
    line-height: 30px;
    font-size: 18px;
}

iframe {
    margin: 30px 225px;
}
