* {
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS';
    box-sizing: border-box;
}

body {
    background-color: #252525
}

#patch508 {
    max-width: 1000px;
    max-height: 10000px;
    margin: 0 auto;
    background-color: #121212;
}

#wrapper {
    max-width: 1000px;
    max-height: 10000px;
    margin: 0 auto;
    background-color: #0C0C0C;
}

footer {
    background-color: #121212;
}

header img {
    width: 100%;
    display: block;
}

@media (max-width:800px) {
    nav a {
        width: 50%;
    }
}

@media (max-width:500px) {
    nav a {
        width: 100%;
    }
}

nav {
    background-color: #0C0C0C;
}

    nav a {
        display: inline-block;
        width: 25%;
        padding: 15px 30px;
        color: #BDBDBD;
        text-decoration: none;
        text-align: center;
    }

a.menu:hover {
    font-size: 20px;
    color: #000000;
    color: white;
    background-color: #BDBDBD;
}

.active {
    font-size: 20px;
    color: black;
    background-color: #040404;
}

article {
    margin-top: 0px;
    margin-bottom: 30px;
}

h1 {
    font-size: 30px;
    text-align: center;
    margin: 0 10% 30px;
    background-color: #232323;
}

article p {
    text-align: center;
    line-height: 30px;
    font-size: 18px;
}

iframe {
    margin: 0px 225px;
}

div {
    margin: 30px 225px;
    background-color: #3e1d85;
    text-align: center;
}

footer {
    margin: 30px 350px;
    margin-bottom: 100px;
    background-color: #121212;
    text-align: center;
}

